body{
    background-color: rgb(251, 199, 255);
}
img{
    width: 700px;
}
h3{
    color: darkorchid;
    text-align: center;
}
h2{
    color: cornflowerblue;
    text-align: center;
}
h1{
    color: blueviolet;
    text-align: center;
}
article{
    color: blue;
}
nav{
    background-color: blueviolet;
}
footer{
    background-color: blueviolet;
}